*,*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    /* height: 100vh; */
    /* background-color: rgb(106, 106, 146); */
    /* background-color: black; */
    /* background-color: olivedrab; */
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 5px;
    /* width: 400px;
    height:500px; */
    border: 20px solid gold;
    background-color: gold;
    justify-content: center;
    margin: auto;
    margin-top: 6%;
    /* margin-top: 25px; */
    width: 300px;
    height: 450px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px green;
}

/* #equal{
    grid-column: 2/ -1;
} */
button{
    background-color: white;
    color: black;
    border-radius: 100px;
    /* border-radius: 19px; */
}
button:hover{
    background-color: green;
    color: white;
}
#screen{
    grid-column: 1 / -1;
    background-color: white;
    font-size: 2rem;
}
/* .operators{
    background-color: darkcyan;
    font-size: 3rem;
} */
/* .btn:hover{
    background-color: blue;
} */

/* #erase{
    background-color: olivedrab;
}

#delete{
    background-color: olivedrab;
} */

button:nth-child(odd) {
    /* background-color: purple; */
}

#equal{
    font-size: large;
}
.operators{
    /* font-size: 2rem; */
    font-size: large;
    background-color: olivedrab;
    /* background-color: gold; */
    border-radius: 12px;
}
.numbers{
    /* font-size: 2rem; */
    font-size: large;
}
#ndot{
    font-size: large;
}